<div *ngIf="trainingPlans.length > 0" class="plans-table">
  <h3>Available Training Plans</h3>
  <table>
    <thead>
      <tr>
        <th (click)="sortTable('name')">
          Name 
          <span [class]="getSortIcon('name')"></span>
        </th>
        <th (click)="sortTable('startDate')">
          Start 
          <span [class]="getSortIcon('startDate')"></span>
        </th>
        <th (click)="sortTable('endDate')">
          End <span [class]="getSortIcon('endDate')"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plan of trainingPlans" (click)="onEdit(plan)">
        <td>{{ plan.name }}</td>
        <td>{{ plan.startDate | date:'dd-MM-yyyy' }}</td>
        <td>{{ plan.endDate | date:'dd-MM-yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="trainingPlans.length === 0" class="no-plans">
  <p>No training plans available.</p>
</div>

<app-edit-workout *ngIf="selectedPlan"
      [plan]="selectedPlan"
      (cancel)="handleCancelEditPlan()"
      (save)="handleSaveEditPlan($event)"
      (delete)="handleDeletePlan($event)">
</app-edit-workout>

<!-- Przycisk z ngSwitch -->
<div [ngSwitch]="trainingPlans.length">
  <!-- Przycisk, gdy brak planów (length === 0) -->
  <button *ngSwitchCase="0" class="goBack noPlansButton" (click)="navigateToPlans()">Go Back to Add New Plans</button>
  <button *ngSwitchDefault class="goBack plansButton" (click)="navigateToPlans()">Go Back to Home</button>

</div>