<h1 class="display-3 text-center text-uppercase text-gradient mb-4">Training Planner</h1>

<div class="filter-container mb-3" id="calendar">
    <label for="planFilter" class="form-label">Choose plan:</label>
    <select id="planFilter" class="form-select" (change)="filterTrainingPlans($event)">
      <option value="">All Plans</option>
      <option *ngFor="let plan of trainingPlans" [value]="plan.id">
        {{ plan.name }}
      </option>
    </select>
</div>

<app-modal [isOpen]="isModalOpen" [event]="selectedEvent" (close)="isModalOpen = false"></app-modal>

<full-calendar #calendar [options]="calendarOptions" class="my-4"></full-calendar>

<app-edit-workout *ngIf="selectedWorkout"
                  [workout]="selectedWorkout"
                  (cancel)="handleCancelEdit()"
                  (save)="handleSaveEdit($event)"
                  (delete)="handleDeleteWorkout($event)">
</app-edit-workout>

<div *ngIf="trainingPlans.length > 0" class="plans-table">
  <h3>Available Training Plans</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plan of trainingPlans">
        <td>{{ plan.name }}</td>
        <td>{{ plan.startDate | date:'dd-MM-yyyy' }}</td>
        <td>{{ plan.endDate | date:'dd-MM-yyyy' }}</td>
        <td>
          <div class="action-buttons">
            <button type="button" class="edit-btn" (click)="onEdit(plan)">Edit</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="trainingPlans.length === 0" class="no-plans">
  <p>No training plans available.</p>
</div>

<app-edit-workout *ngIf="selectedPlan"
      [plan]="selectedPlan"
      (cancel)="handleCancelEditPlan()"
      (save)="handleSaveEditPlan($event)"
      (delete)="handleDeletePlan($event)">
</app-edit-workout>