<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<h1 class="display-3 text-center text-uppercase text-gradient mb-4">Training Planner</h1>

<app-add-event (planAdded)="refreshPlans()" (workoutAdded)="loadTrainingPlans()" ></app-add-event>
<div class="filter-container mb-3" id="calendar">
    <label for="planFilter" class="form-label">Choose plan:</label>
    <select id="planFilter" class="form-select" (change)="filterTrainingPlans($event)">
      <option value="">All Plans</option>
      <option *ngFor="let plan of trainingPlans" [value]="plan.id">
        {{ plan.name }}
      </option>
    </select>
</div>

<app-modal [isOpen]="isModalOpen" [event]="selectedEvent" (close)="isModalOpen = false"></app-modal>

<full-calendar #calendar [options]="calendarOptions" class="my-4"></full-calendar>

<app-edit-workout *ngIf="selectedWorkout"
                  [workout]="selectedWorkout"
                  (cancel)="handleCancelEdit()"
                  (save)="handleSaveEdit($event)"
                  (delete)="handleDeleteWorkout($event)">
</app-edit-workout>