<div class="top-buttons">
  <button (click)="showPlanForm = true">Add New Training Plan</button>
  <button (click)="showEventForm = true">Add New Workout</button>
</div>

<div class="modal-overlay" *ngIf="showPlanForm">
  <div class="modal-content">
    <h3>Add New Training Plan</h3>
    <label>
      Plan Name:
      <input type="text" [(ngModel)]="newPlanName" />
    </label>
    <label>
      Start Date:
      <input type="date" [(ngModel)]="newPlanStartDate" />
    </label>
    <label>
      End Date:
      <input type="date" [(ngModel)]="newPlanEndDate" />
    </label>
    <button (click)="addNewPlan()">Add Training Plan</button>
    <button class="close-button" (click)="showPlanForm = false">Close</button>
  </div>
</div>

<div class="modal-overlay" *ngIf="showEventForm">
  <div class="modal-content">
    <h3>Add New Workout</h3>
    <label>
      Workout Name:
      <input type="text" [(ngModel)]="title" />
    </label>
    <label>
      Date:
      <input type="date" [(ngModel)]="date" (ngModelChange)="filterPlansByDate()" />
    </label>
    <label>
      Select Training Plan:
      <select [(ngModel)]="selectedPlanId">
        <option *ngFor="let plan of activePlans" [value]="plan.id">
          {{ plan.name }}
        </option>
      </select>
      <p *ngIf="activePlans.length === 0">
        No training plans available for the selected date
      </p>
    </label>
    
    
    <label>
      Duration (minutes):
      <input type="number" [(ngModel)]="duration" />
    </label>
    <label>
      Intensity:
      <input type="number" [(ngModel)]="intensity" />
    </label>
    <label>
      Description:
      <textarea [(ngModel)]="description"></textarea>
    </label>
    <button (click)="addEvent()">Add Workout</button>
    <button class="close-button" (click)="showEventForm = false">Close</button>
  </div>
</div>
